@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Rubik', sans-serif;
    transition: all 1s;
}

.font-link {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #F5F6FA;
    padding: 1rem;
    text-align: center;
}

button {
    font-family: inherit;
}